body {
  margin: 0 auto;
  font-family: arial, 'sans-serif';
 }
 
 address, time {
  display: inline-block;
  color: rgb(136, 136, 136);
 }
 
 h1, h2 {
  font-family: arial, 'sans-serif';
 }
 
 li {
  display: inline-block;
  list-style-type: none;
 }
 .article-body img{
  display: block;
  margin: 0 auto;
  padding: 10px;
 }

 main, footer {
  padding: 15px;
 }